html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  white-space: pre-wrap;
}

h1 {
  color: #615D6C;
}

h2 {
  color: #615D6C;
}

h3 {
  color: #615D6C;
}

p {
  color: #615D6C;
}